<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

    <test name="Regression of Existing Bookings">
        <classes>
            <class name="testcases.TestCasesExistingBooking"/>
        </classes>
    </test>

    <test name="Regression of New  Bookings">
        <classes>
            <class name="testcases.TestCasesNewBooking"/>
        </classes>
    </test>

</suite>